// Icons style

.icon {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid var(--c-black);
    border-radius: 10px;
    padding: 6px;
    &::before {
        content: '';
        width: 40px;
        height: 40px;
        color: var(--c-black);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: currentColor;
    }
}

.icon-instagram {
    &::before {
        mask-image: url('/src/assets/icons/instagram-icon.svg');
    }
}

.icon-facebook {
    &::before {
        mask-image: url('/src/assets/icons/facebook-icon.svg');
    }
}

.icon-youtube {
    &::before {
        mask-image: url('/src/assets/icons/youtube-icon.svg');
    }
}

.icon-tiktok {
    &::before {
        mask-image: url('/src/assets/icons/tiktok-icon.svg');
    }
}

.icon-twiter {
    &::before {
        mask-image: url('/src/assets/icons/twitter-icon.svg');
    }
}