@use 'layouts';
@use 'common';

.hero-section {
    padding: 133px 0;

    &__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__socials-list {
        display: flex;
        gap: 35px;
        flex-direction: row;
        margin-bottom: 41px;
    }

    &__main-title {
        position: relative;
        font-family: var(--ff-newake);
        max-width: 892px;
        font-size: 260px;
        letter-spacing: -14px;
        line-height: 1em;
        text-transform: uppercase;
        text-align: center;
        background-image: url('/src/assets/images/hero-title-mask.webp');
        background-size: cover; 
        background-position: center;
        -webkit-background-clip: text;
        color: transparent;

        &::before {

        }

        &::after {

        }
    }
}

.faq-section {
    padding: 100px 0 280px;
    &__title {
        font-family: var(--ff-newake);
        font-size: 64px;
        color: var(--c-black);
        text-align: center;
        margin-bottom: 20px;
    }

    .active {
        background-color: #ccc;

        &:after {
            content: "\2212";
        }
    }

    &__accordion {
        font-family: var(--ff-inter);
        font-size: 28px;
        background-color: var(--c-white);
        color: var(--c-dark-grey);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        border-radius: 6px;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;

        &:hover {
            background-color: #ccc; 
        }
        
        &:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.banner-section {
    margin-bottom: -95px;
    position: relative;
    z-index: 9;
    
    &__wrapper {
        background-color: #0282A6;
        border-radius: 15px;
        padding: 68px 219px 68px 268px;
    }

    &__text {
        font-family: var(--ff-gotham);
        font-weight: 700;
        font-size: 22px;
        color: var(--c-white);
    }
}