<section class="faq-section">
    <div class="container faq-section__container-wrapper">
        <h2 class="faq-section__title">PREGUNTAS FRECUENTES</h2>
        <div class="faq-section__accordion-wrapper">
            <button class="faq-section__accordion-title">
                ¿Que es WeLoveSalud?
                <span class="faq-section__accordion-arrow-icon">
                    <img src="/img/icons/ac-arrow-icon.svg" alt="Arrow icon">
                </span>
            </button>
            <div class="faq-section__accordion-content">
                <p>Somos "WE LOVE SALUD", una compañía que desarrolla series educativas de Youtube para enseñar autocuidado (alimentación, ejercicios, tecnología). Nos destacamos por nuestra reputación y cercanía a nuestros usuarios. Nuestro público objetivo son jóvenes profesionales quienes no tienen tiempo para investigar estos temas y prefieren contenido ya desarrollado. Queremos transmitir una sensación de frescura, seriedad y compromiso con la salud de nuestros usuarios.</p>
            </div>

            <button class="faq-section__accordion-title">
                ¿Que es WeLoveSalud?
                <span class="faq-section__accordion-arrow-icon">
                    <img src="/img/icons/ac-arrow-icon.svg" alt="Arrow icon">
                </span>
            </button>
            <div class="faq-section__accordion-content">
                <p>Somos "WE LOVE SALUD", una compañía que desarrolla series educativas de Youtube para enseñar autocuidado (alimentación, ejercicios, tecnología). Nos destacamos por nuestra reputación y cercanía a nuestros usuarios. Nuestro público objetivo son jóvenes profesionales quienes no tienen tiempo para investigar estos temas y prefieren contenido ya desarrollado. Queremos transmitir una sensación de frescura, seriedad y compromiso con la salud de nuestros usuarios.</p>
            </div>

            <button class="faq-section__accordion-title">
                ¿Que es WeLoveSalud?
                <span class="faq-section__accordion-arrow-icon">
                    <img src="/img/icons/ac-arrow-icon.svg" alt="Arrow icon">
                </span>
            </button>
            <div class="faq-section__accordion-content">
                <p>Somos "WE LOVE SALUD", una compañía que desarrolla series educativas de Youtube para enseñar autocuidado (alimentación, ejercicios, tecnología). Nos destacamos por nuestra reputación y cercanía a nuestros usuarios. Nuestro público objetivo son jóvenes profesionales quienes no tienen tiempo para investigar estos temas y prefieren contenido ya desarrollado. Queremos transmitir una sensación de frescura, seriedad y compromiso con la salud de nuestros usuarios.</p>
            </div>

            <button class="faq-section__accordion-title">
                ¿Que es WeLoveSalud?
                <span class="faq-section__accordion-arrow-icon">
                    <img src="/img/icons/ac-arrow-icon.svg" alt="Arrow icon">
                </span>
            </button>
            <div class="faq-section__accordion-content">
                <p>Somos "WE LOVE SALUD", una compañía que desarrolla series educativas de Youtube para enseñar autocuidado (alimentación, ejercicios, tecnología). Nos destacamos por nuestra reputación y cercanía a nuestros usuarios. Nuestro público objetivo son jóvenes profesionales quienes no tienen tiempo para investigar estos temas y prefieren contenido ya desarrollado. Queremos transmitir una sensación de frescura, seriedad y compromiso con la salud de nuestros usuarios.</p>
            </div>
        </div>
    </div>
</section>