/* BEGIN Banner section styles file */
.banner-section {
  margin-bottom: -95px;
  position: relative;
  z-index: 9;
}
.banner-section__wrapper {
  position: relative;
  background-color: #0282a6;
  border-radius: 15px;
  padding: 68px 0px 68px 298px;
}

.banner-section__text {
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.banner-section__text::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 241px;
  height: 355px;
  background-image: url('../img/banner-decor-left.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-section__text::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  height: 125px;
  background-image: url('../img/banner-decor-right.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
/* END Banner section styles file */