.main-footer {
  background-color: #292929;
  padding: 145px 0 75px;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer__company-logo {
  color: #fff;
  font-size: 32px;
}

.main-footer__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.main-footer__nav-list-item-link {
  color: #fff;
  font-size: 20px;
  font-family: 'Gotham-Book';
  font-weight: 400;
}
