.hero-section {
  padding: 133px 0;
}
.hero-section__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section__socials-list {
  display: flex;
  gap: 35px;
  flex-direction: row;
  margin-bottom: 41px;
}

.hero-section__main-title {
  position: relative;
  font-family: var(--ff-newake);
  max-width: 892px;
  font-size: 260px;
  letter-spacing: -14px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  background-image: url("/src/img/hero-title-mask.webp");
  background-size: cover;
  background-position: center;
  /* -webkit-background-clip: text; */
  color: transparent;
}

/* .hero-section__main-title::before {

}

.hero-section__main-title::after {

} */
