 @use "../mixins/"as *;

$fontNewake: "Newake";
$fontInter: "Inter";
$fontGotham: "Gotham";

// 
@include font-woff2($fontNewake, "/src/assets/fonts/#{$fontNewake}", 700, normal);

@include font-woff2($fontInter, "/src/assets/fonts/#{$fontInter}-Regular", 400, normal);
@include font-woff2($fontInter, "/src/assets/fonts/#{$fontInter}-SemiBold", 600, normal);

@include font-woff2($fontGotham, "/src/assets/fonts/#{$fontGotham}-Book", 600, normal);
@include font-woff2($fontGotham, "/src/assets/fonts/#{$fontGotham}-Bold", 700, normal);