:root {
    //Fonts variables
    --ff-newake: 'Newake', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-gotham: 'Gotham', sans-serif;
    
    //Colors variables
    --c-white: #fff;
    --c-black: #000;
    --c-dark-grey: #303030;
}











